<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo"/>
				<div layout="row" layout-align="center stretch">
					<a hide-xs class="DemoHeader-link md-subhead" href="https://laravel-angular.readme.io" target="_blank" translate>HEADER.GALLERIES</a>
					<a hide-xs class="DemoHeader-link md-subhead" href="https://www.youtube.com/watch?list=PLIiQ4B5FSupiQYLX6kERPV0OhMC7tTbBE&v=_ZWV9KBK2N8" target="_blank" translate>HEADER.IMAGES</a>
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
