<md-content class="Page-Container MainHeader">
  <div layout="row">
    <div flex="90" flex-offset="5" class="MainHeader-container">
      <div layout="row" layout-align="space-between">
        <a ui-sref="app.images">
          <img class="MainHeader-logo" src="/img/icons/logo.svg" alt="logo">
        </a>
        <div layout="row" layout-align="center stretch">
          <a ng-show="vm.$auth.isAuthenticated()" class="MainHeader-link md-subhead" ng-click="vm.logout()"> ({{vm.UserService.profile.email}}) <span translate>HEADER.LOGOUT</span></a>
        </div>
      </div>
    </div>
  </div>
</md-content>
<div class="MainHeader-spacer"></div>
